@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #E5E5E5;
  --foreground: #101010;

  --black: #000000;
  --white: #FFFFFF;
  --light-gray: #E5E5E5;
  --gray: #14213D;
  --orange: #e49310;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101010;
    --foreground: #ededed;
  }
}


body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base{
  body {
    @apply font-azeret-mono
  }
}

@layer components {

  /* Auth Form */
  .auth--button {
    @apply py-3 px-4 block w-full rounded-lg text-sm bg-primary text-white font-bold cursor-pointer;
  }

  .auth--button:hover {
    @apply bg-primary;
  }

  .auth--form-input {
    @apply py-3 px-4 block w-full rounded-lg text-sm focus:border-primary text-zinc-300 bg-gray-800 placeholder-gray-500 font-light;
  }

  .auth--form-input_error{
    @apply text-red-300;
  }
}
