@import "tailwindcss";

/* @custom-variant dark (&:where(.dark, .dark *)); */ /* Uncomment this line to enable dark mode manually */

@theme {
  --font-azaret-mono: "Azeret Mono", monospace;
  --font-sigmar: "Sigmar", "sans-serif";
  --color-primary: #e49310;
  --color-primary-hover: #e49310ad;

  --color-secondary: #6d6d6d;
  --color-secondary-hover: #6d6d6dad;

  --color-placeholder: #b3b3b3;
  --color-input: #f9f9f9;

  --color-background-100: #959595;
  --color-background-200: #858585;
  --color-background-300: #757575;
  --color-background-400: #656565;
  --color-background-500: #555555;
  --color-background-600: #454545;
  --color-background-700: #353535;
  --color-background-800: #252525;
  --color-background-900: #151515;
}

:root {
  --background: #f9f9f9;
  --foreground: #252525;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #252525;
    --foreground: #f9f9f9;
  }
}

body {
  @apply bg-white text-black dark:bg-black dark:text-white;
}

@layer components {
  .typography {
    @apply text-zinc-300 font-azaret-mono;
  }

  input {
    @apply py-3 px-4 block w-full rounded-lg text-sm text-zinc-300 bg-gray-800 placeholder-gray-500 font-light;
  }

  button {
    @apply py-3 px-4 block w-full rounded-lg text-sm font-bold cursor-pointer;
  }

  button.btn-primary {
    @apply py-3 px-4 block w-full rounded-lg text-sm bg-primary hover:bg-primary-hover text-white font-bold cursor-pointer;
  }

  button.btn-secondary {
    @apply py-3 px-4 block w-full rounded-lg text-sm bg-secondary hover:bg-secondary-hover text-white font-bold cursor-pointer;
  }
  button.btn-secondary-outline {
    @apply py-3 px-4 block w-full rounded-lg text-sm bg-transparent border border-secondary text-secondary hover:bg-secondary-hover hover:text-white font-bold cursor-pointer;
  }

  button.btn-secondary-outline:disabled {
    @apply bg-transparent border border-secondary text-secondary cursor-not-allowed opacity-50;
  }

  a {
    @apply text-primary hover:text-primary-hover cursor-pointer font-bold hover:underline hover:underline-offset-4;
  }

  .auth--form-input_error {
    @apply text-red-300;
  }

  #nav-menu-header a {
    @apply text-gray-400 font-normal;
  }

  #nav-menu-header a.active {
    @apply text-white underline underline-offset-4 font-bold;
  }

  #nav-options-header li {
    @apply text-gray-400 font-normal cursor-pointer hover:text-white;
  }
}
