@import "tailwindcss";

@media (prefers-color-scheme: dark) {
  @theme {
    --background: #101010;
    --foreground: #ededed;
    --color-input: #1a1a1a;
  }
}

@media (prefers-color-scheme: light) {
  @theme { 
    --font-azaret-mono: 'Azeret Mono', monospace;
    --font-sigmar: 'Sigmar', 'sans-serif';

    --color-primary: #e49310;
    --color-primary-hover: #e49310ad;

    --color-secondary: #6d6d6d;
    --color-secondary-hover: #6d6d6dad;

    --color-placeholder: #b3b3b3;

    --background: #f9f9f9;
    --foreground: #101010;
    --color-input: #f9f9f9;
  }
}

@layer base {
  body {
    font-family: var(--font-sigmar);
    background-color: var(--background);
  };
}

@layer components {
  .typography {
    @apply text-zinc-300 font-azaret-mono;
  }

  input {
    @apply py-3 px-4 block w-full rounded-lg text-sm text-zinc-300 bg-gray-800 placeholder-gray-500 font-light;
  }

  button{
    @apply py-3 px-4 block w-full rounded-lg text-sm font-bold cursor-pointer;
  }

  button.btn-primary {
    @apply py-3 px-4 block w-full rounded-lg text-sm bg-primary hover:bg-primary-hover text-white font-bold cursor-pointer;
  }

  button.btn-secondary {
    @apply py-3 px-4 block w-full rounded-lg text-sm bg-secondary hover:bg-secondary-hover text-white font-bold cursor-pointer;
  }

  a {
    @apply text-primary hover:text-primary-hover cursor-pointer font-bold hover:underline hover:underline-offset-4;
  }

  .auth--form-input_error{
    @apply text-red-300;
  }
}
